body {
  margin: 0;
  background-color: dodgerblue;
  color: white;
  font-family: 'Francois One', sans-serif;
}

button {
  padding: 10px;
  background-color: coral;
  color: white;
  font-size: 20px ;
  border-radius: 5px;
  border: none;
}

